In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
df = df.drop("Id", axis=1)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df["Species"] = df["Species"].astype("category").cat.codes
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [7]:
from sklearn.model_selection import train_test_split

# Özellikler ve hedef değişken
X = df.drop("Species", axis=1)
y = df["Species"]

# Train ve geçici set (val + test)
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)

# Geçici seti val ve test olarak ikiye böl
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

print("Train boyutu:", X_train.shape)
print("Validation boyutu:", X_val.shape)
print("Test boyutu:", X_test.shape)

Train boyutu: (105, 4)
Validation boyutu: (22, 4)
Test boyutu: (23, 4)

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model_lr = LogisticRegression(max_iter=200)
model_lr.fit(X_train, y_train)

val_pred_lr = model_lr.predict(X_val)
acc_lr = accuracy_score(y_val, val_pred_lr)

print("Lojistik Regresyon Doğruluk (Validation):", acc_lr)

Lojistik Regresyon Doğruluk (Validation): 1.0

In [9]:
from sklearn.tree import DecisionTreeClassifier

model_dt = DecisionTreeClassifier()
model_dt.fit(X_train, y_train)

val_pred_dt = model_dt.predict(X_val)
acc_dt = accuracy_score(y_val, val_pred_dt)

print("Karar Ağacı Doğruluk (Validation):", acc_dt)

Karar Ağacı Doğruluk (Validation): 1.0

In [10]:
test_pred_lr = model_lr.predict(X_test)
test_acc_lr = accuracy_score(y_test, test_pred_lr)
print("Lojistik Regresyon Doğruluk (Test):", test_acc_lr)

Lojistik Regresyon Doğruluk (Test): 1.0

In [11]:
test_pred_dt = model_dt.predict(X_test)
test_acc_dt = accuracy_score(y_test, test_pred_dt)
print("Karar Ağacı Doğruluk (Test):", test_acc_dt)

Karar Ağacı Doğruluk (Test): 1.0